<table>
	<thead>
		<th>Content</th>
		<th>Likes</th>
		<th>Like Secret</th>
		<th>Delete Secret</th>
	</thead>
	<tbody>
		<% @secrets.each do |secret| %>
		<tr>
			<td><%= secret.content%></td>
			<td><%= secret.likes.count%> likes</td>
			<td>
				<% if current_user.secrets_liked.include?(secret)%>

				<form action="/likes" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="_method" value="patch" />
					<input type="hidden" name="secret_id" value="<%= secret.id %>" />

					<input type="submit" value="Unlike" />
				</form>

				<% else %>
				<form action="/likes" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="secret_id" value="<%= secret.id %>" />

					<input type="submit" value="Like" />
				</form>
				<% end %>
			</td>
			<td>
				<% if current_user.id == secret.user_id %>
				<form action="/secrets" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="_method" value="delete" />
					<input type="hidden" name="secret_id" value="<%= secret.id %>" />

					<input type="submit" value="Delete Secret" />
				</form>

				<% else %>
				<p>N/A</p>
				<%end%>
			</td>
		</tr>
		<% end%>
	</tbody>
</table>
