<!DOCTYPE html>
<html>

<head>
    <title>DojoSecrets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
    <%= e %>
    <% end %>
    <% end %>
    <% if current_user %>
    <form action="/sessions/<%=current_user.id%>" method="post" style="margin-top:20px">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
    </form>
    <% end %>
    <%= yield %>
</body>

</html>